@{
    <br />
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>


<p>
    Tracking your spending is often the first step in getting your finances in order. By understanding what you spend money on and how much you spend, you can see exactly where your cash is going and areas where you can cut back.

</p>
<p> It’s easy to make this part of your everyday routine thanks to expense tracker apps that help you manage your money on the go.</p>

<p> The app will provide a big-picture view of your finances. The app categorizes your expenses and help you get a good idea of your purchasing behavior.</p>
