@{
    <br />
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>Support:</strong>   <a href="mailto:laacibnet@outlook.com">Support@budget.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:laacibnet@outlook.com">Marketing@budget.com</a>
</address>